.root_orders_navbar{
    position: fixed;
    width: 100%;
    max-width: 250px;
    min-width: 200px;
    height: 100%;
    z-index: var(--z-index-order-navbar);
}
.main_orders_navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.26);
}

.main_orders_navbar a{
    text-decoration: none;
    height: 35px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: grey;
    font-weight: 400;
}
.main_orders_navbar a.active_order_navbar{
    color: black;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.281);
}

.main_orders_navbar a:hover{
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.281);
}