@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --roboto_font: 'Roboto', sans-serif;
  --baloo2_font: 'Baloo 2', cursive;
  --boxshadow1: 0 0 3px 1px rgba(0,0,0,0.300);
  --z-index-navbar: 50;
  --z-index-order-navbar: 49;
  

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--roboto_font);
  font-size: 0.7em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  overflow-x: hidden;

}
